pyqt5==5.15.11
pyqt5-qt5==5.15.2
beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
cryptography==50.0.0
et-xmlfile==2.0.0
idna==3.18
lxml==6.1.1
openpyxl==3.1.5
oracledb==4.0.2
pillow==12.3.0
pycparser==3.0
pyqt5-sip==12.19.0
python-pptx==1.0.2
requests==2.34.2
soupsieve==2.9.2
typing-extensions==4.16.0
urllib3==2.7.0
xlsxwriter==3.2.9
pg8000==1.31.5
scramp==1.4.17

